/* estrututa*/
body{
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;

}

a{
	text-decoration: none;
}

/********************** resposive *******************/
@media screen and (max-width: 540px) {
	.bnt-responsive{
		margin-top: 60px;
	}
	#busca-modelo-resp{
		width: 200px;
	}
}

@media screen and (max-width: 768px) {
	.bnt-responsive{
		margin-top: 60px;

	}
}

/*logo menu top*/
#logo-max{
	width: 150px;
	height: 43px;
	display: block;
	text-indent: -9999px;
	filter: drop-shadow(1px 1px 1px #000);
	background: url(../img/grupomax.PNG) no-repeat;
}


/*navbar*/
.navbar ul li a{
	color: white;
	text-transform: uppercase;
}

.navbar ul li .dropdown-menu a{
	color: black;
	text-transform: uppercase;
}

.navbar ul li .dropdown-menu a:hover{
	color: black;
	background: #dedede;
}

.navbar ul li a:hover{
	color: #dedede;
	padding-bottom: 0;
	border-bottom: 1px solid #dedede;
}

.navbar ul li .semborda:hover{
	border: none;
}



/*card*/
.card{
	margin-bottom: 6px;
}
.card ul li img{
	width: 100%;
	border-radius: 7px 7px 0 0;
}

.img-marca{
	float: left;
	margin-right: 8px;
}

.marca-detalhes{
	float: left;
}

.painel{
	background: url(../img/painel.png) no-repeat;
	padding-left: 23px;
	padding-right: 10px;
}

.marcha{
	background: url(../img/marcha.png) no-repeat;
	padding-left: 23px;
}

/*card marcas proximo ao search*/
.card-marca{
	margin-right: 10px;
}

.card-marca a{
	text-decoration: none;
}

.card-marca:hover{
	box-shadow: 2px 1px 6px #dedede;
	transition: all 0.3s;
	
}

.tamanho-logo-card{
	width: 80px;
	height: 70px;
}

.tamanho-logo-card img{
	margin: 20px 0 0 0;

}

/******************cards diversos apos novidades ************/
#card-deiversos{
	width: 100%;
	height: 90%;
	margin-bottom: 60px;
}

#card-feedback{
	width: 100%;
	height: 90%;
	margin-bottom: 60px;
	background: #dedede;
}

/************** rede social ****************/
.rede-social a{
	text-decoration: none;
}

.rede-social a img:hover{
	padding: 2px;
	transition: all 0.3s;
}

/*rodape*/
footer{
	margin-top: 50px;
	width: 100%;
	height: 40px;
	background: #dedede;
}